# === Core dependencies ===
psycopg2-binary
sqlalchemy

# === Streamlit Dashboard ===
streamlit
pandas
matplotlib
Pillow
numpy
plotly


statsmodels
scikit-learn
tqdm
joblib

# === Line Messaging Bot ===
flask
line-bot-sdk

# === Google Drive API ===
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

# === YOLO + Torch ===
ultralytics
torch
torchvision
opencv-python
opencv-python-headless

# === Utils ===
tqdm
requests
pathlib
python-dateutil


# === Forecasting ===

# Forecasting libraries
pandas
numpy
matplotlib
statsmodels
scikit-learn
tqdm
plotly
joblib


groq